***
# Final Project Milestone #2: Data Analysis
### Felicia Faith Hangge
### 22 April 2025

#### Initial exploratory analysis for dataset.
***

## 1.) Importing dataset and pands
#### Dataset: NYC Citi Bike Trip History for October of 2024

In [93]:
import pandas as pd

In [94]:
file_path = "202410-citibike-tripdata_1.csv"
df = pd.read_csv('/Users/faitth/Desktop/CMP-262/Final Project/202410-citibike-tripdata_1.csv')

/var/folders/6t/l24_hh0d7rddqfw4j3qphcfw0000gn/T/ipykernel_88101/1791134792.py:2: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/Users/faitth/Desktop/CMP-262/Final Project/202410-citibike-tripdata_1.csv')

***
#### ***Citation: Internet Use*** 

##### Warning Error: 
DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.                                       
##### Source Used: 
https://pandas.pydata.org/docs/reference/api/pandas.errors.DtypeWarning.html
##### Changes: 

1.) Specified specific columns (start_station_id and end_station_id) data type option to strings due to them containing mixed data types and set low memory to false.  

***

In [96]:
dt_fix = {
    'start_station_id': 'str',
    'end_station_id': 'str' }
file_path = "202410-citibike-tripdata_1.csv"
df = pd.read_csv('/Users/faitth/Desktop/CMP-262/Final Project/202410-citibike-tripdata_1.csv',
                dtype = dt_fix,
                low_memory=False)

***
## 1.) Exploring basic properties of the dataset using pandasâ€™ built-in functions
#### displaying samples, column information, statistical information, and general information about the dataset.

In [98]:
df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,B4544C93905FA10E,electric_bike,2024-10-13 17:38:36.748,2024-10-13 17:45:22.657,Rutgers St & Henry St,5230.02,Lafayette St & Grand St,5422.09,40.713322,-73.990097,40.720280,-73.998790,member
1,435860FFE89FC278,electric_bike,2024-10-06 00:58:33.042,2024-10-06 01:02:46.775,Washington Ave & E 167 St,8068.01,College Ave & E 170 St,8175.06,40.829896,-73.907618,40.837576,-73.910489,member
2,4EB0709C97181E8A,electric_bike,2024-10-11 21:15:40.455,2024-10-11 21:46:54.286,E Fordham Rd & Webster Ave,8582.09,Jerome Ave & E Mosholu Pkwy S,8795.01,40.861748,-73.891050,40.879350,-73.885340,member
3,930590FEA1806C34,electric_bike,2024-10-14 19:08:12.154,2024-10-14 19:30:24.011,Washington Ave & E 167 St,8068.01,Frederick Douglass Blvd & W 115 St,7658.13,40.829896,-73.907618,40.803865,-73.955931,casual
4,EA33E5FD386A60F4,electric_bike,2024-10-13 01:19:20.877,2024-10-13 01:29:47.343,E Fordham Rd & Webster Ave,8582.09,Jerome Ave & E Mosholu Pkwy S,8795.01,40.861748,-73.891050,40.879350,-73.885340,casual

In [99]:
df.describe()

            start_lat       start_lng        end_lat        end_lng
count  1000000.000000  1000000.000000  999896.000000  999896.000000
mean        40.737577      -73.971093      40.736915     -73.969946
std          0.041225        0.029450       0.163109       0.288015
min         40.633385      -74.026823       0.000000     -74.130000
25%         40.711863      -73.991930      40.711066     -73.992085
50%         40.736592      -73.979069      40.736245     -73.979294
75%         40.761573      -73.954692      40.761712     -73.954926
max         40.900000      -73.846720      41.010000       0.000000

In [100]:
df.columns.tolist()

['ride_id',
 'rideable_type',
 'started_at',
 'ended_at',
 'start_station_name',
 'start_station_id',
 'end_station_name',
 'end_station_id',
 'start_lat',
 'start_lng',
 'end_lat',
 'end_lng',
 'member_casual']

In [101]:
df.shape

(1000000, 13)

In [102]:
df.dtypes

ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id       object
end_station_name       object
end_station_id         object
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
dtype: object

In [103]:
df.tail()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
999995,F60D8345DF7DA010,electric_bike,2024-10-08 07:07:37.902,2024-10-08 07:18:02.742,W 56 St & 10 Ave,6955.01,E 53 St & Lexington Ave,6617.09,40.768254,-73.988639,40.758281,-73.970694,member
999996,A7B575626177E70D,electric_bike,2024-10-12 12:42:05.626,2024-10-12 12:48:02.445,Lexington Ave & Classon Ave,4452.03,Adelphi St & Myrtle Ave,4620.02,40.686768,-73.959282,40.693083,-73.971789,member
999997,F146E98E4C5C3927,electric_bike,2024-10-04 07:34:13.461,2024-10-04 07:40:00.079,University Ave & Brandt Pl,8366.07,Wadsworth Ave & W 179 St,8336.02,40.848354,-73.918389,40.848467,-73.936064,member
999998,08E47660A572FDE7,electric_bike,2024-10-01 07:04:32.165,2024-10-01 07:09:27.746,Bond St & Bergen St,4404.10,Court St & State St,4488.08,40.684967,-73.986208,40.690238,-73.992031,member
999999,9F457344CDC10B2F,electric_bike,2024-10-03 07:25:09.077,2024-10-03 07:30:50.476,University Ave & Brandt Pl,8366.07,Wadsworth Ave & W 179 St,8336.02,40.848354,-73.918389,40.848467,-73.936064,member

In [104]:
df.sample()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
87526,80D3DA512FE72649,electric_bike,2024-10-06 13:42:23.384,2024-10-06 14:55:55.704,7 Ave & Central Park South,6912.01,Main St & Plymouth St,4936.21,40.766741,-73.979069,40.703782,-73.990734,casual

In [105]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 13 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   ride_id             1000000 non-null  object
 1   rideable_type       1000000 non-null  object
 2   started_at          1000000 non-null  object
 3   ended_at            1000000 non-null  object
 4   start_station_name  999717 non-null   object
 5   start_station_id    999717 non-null   object
 6   end_station_name    998659 non-null   object
 7   end_station_id      998540 non-null   object
 8   start_lat           1000000 non-null  float64
 9   start_lng           1000000 non-null  float64
 10  end_lat             999896 non-null   float64
 11  end_lng             999896 non-null   float64
 12  member_casual       1000000 non-null  object
dtypes: float64(4), object(9)
memory usage: 99.2+ MB

***
## 2.) Further exploration of useful basic properties to further understand the dataset. 
#### exploring missing values, unique values, data range, checking for duplicates.

In [107]:
### exploring missing values in order to see which columns may need cleaning/filling in
df.isnull().sum()

ride_id                  0
rideable_type            0
started_at               0
ended_at                 0
start_station_name     283
start_station_id       283
end_station_name      1341
end_station_id        1460
start_lat                0
start_lng                0
end_lat                104
end_lng                104
member_casual            0
dtype: int64

In [108]:
### understanding which columns are used as identifiers and which arent
df.nunique()

ride_id               1000000
rideable_type               2
started_at             999300
ended_at               999282
start_station_name       2128
start_station_id         2222
end_station_name         2141
end_station_id           2147
start_lat                2154
start_lng                2144
end_lat                  2159
end_lng                  2150
member_casual               2
dtype: int64

In [109]:
### looking at data range and checking the time period the data covers. 

df['started_at'] = pd.to_datetime(df['started_at'])
df['ended_at'] = pd.to_datetime(df['ended_at'])

print("Start date:", df['started_at'].min())
print("End date:", df['ended_at'].max())

### reveals that dataset only contains data for the first two weeks of October.

Start date: 2024-09-29 23:44:44.862000
End date: 2024-10-15 18:10:34.393000

In [110]:
### checking for any duplicates to ensure data quality
df.duplicated().sum()

0

***